[submodule "rtk_ros/include/rtk_ros/GpsDrivers"]
	path = rtk_ros/include/rtk_ros/GpsDrivers
	url = http://github.com/AlexisTM/GpsDrivers
[submodule "rtk_ros/include/backward-cpp"]
	path = rtk_ros/include/backward-cpp
	url = https://github.com/AlexisTM/backward-cpp
